{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unused-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    // "prettier/prettier": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "unused-imports/no-unused-imports-ts": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}